<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
        <title>Formulario de creacion</title>
        <link rel="stylesheet" href="/styles/formulario-creacion.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            


            <% if (locals.errors) { %>
                <p> <%= errors === true %> </p>
                <% for(let oneError = 0; oneError < errors.length; oneError++) { %>
                    <p> <%= errors[oneError].msg %> </p>
                <% } %>
            <% } %>
            
            <h2 class="title">Formulario de creación de productos</h2>
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <div>
                    <input 
                        type="text" 
                        id="name" 
                        name="name" 
                        placeholder="Nombre del producto" 
                        class="product-name"
                    >
                    <!-- <span class="error-message1"></span> -->
                </div>
                <div>
                    <input 
                        type="text" 
                        id="price" 
                        name="price" 
                        placeholder="Precio del producto" 
                        class="product-price"
                    >
                </div>
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="product-category">
                    <option value="">Elegí</option>
                    <option value="desayuno">Desayuno</option>
                    <option value="plato-principal">Plato principal</option>
                </select>
                <textarea name="description" id="description" class="product-description"
                    placeholder="Descripcion del producto">
                </textarea>
                <span class="error-message2"></span>
                <div>
                    <input 
                        type="file" 
                        name="image" 
                        id="image" 
                        class="product-image"
                    >
                </div>
                <!--<span class="error-image"></span>-->
                <button type="submit" class="submit">Guardar producto</button>
            </form>
        </main>
        <%- include('./partials/footer')%>
            <script src="/js/validaciones.js"></script>
</body>

</html>