<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
        <title>UrbanEats Jujuy</title>
        <link rel="stylesheet" href="/styles/stylesHome.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <section>
                <h2>Lo favorito de la gente</h2>
                <div class="productos">
                    <% for(let i = 0; i < 3; i++) { %>
                        <article>
                            <img src="/images/products/<%= products[i].image %>" alt="Tamales">
                            <div class="descripcion">
                                <p class="precio"><%= products[i].price %></p>
                                <p class="oferta">20% off</p>
                                <p class="nombre"><%= products[i].name %></p>
                            </div>
                        </article>
                    <% } %>
                </div>
            </section>
            <section>
                <h2>Lo mejor de la casa</h2>
                <div class="productos">
                    <% for(let i = 3; i < 6; i++) { %>
                        <article>
                            <img src="/images/products/<%= products[i].image %>" alt="Tamales">
                            <div class="descripcion">
                                <p class="precio"><%= products[i].price %></p>
                                <p class="oferta">20% off</p>
                                <p class="nombre"><%= products[i].name %></p>
                            </div>
                        </article>
                    <% } %>
                </div>
            </section>
            <section>
                <h2>También puede interesarte</h2>
                <div class="productos">
                    <% for(let i = 6; i < 8; i++) { %>
                        <article>
                            <img src="/images/products/<%= products[i].image %>" alt="Tamales">
                            <div class="descripcion">
                                <p class="precio"><%= products[i].price %></p>
                                <p class="oferta">20% off</p>
                                <p class="nombre"><%= products[i].name %></p>
                            </div>
                        </article>
                    <% } %>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>