<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
        <title>UrbanEats Jujuy</title>
        <link rel="stylesheet" href="/styles/stylesHome.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <section>
                <h2 class="titulo-seccion">Lo favorito de la gente</h2>
                <div class="contenedor-articulos">
                    <% products.forEach((producto, index)=> { %>
                        <article class="contenedor-producto">
                            <a href="/products/detail/<%= producto.id %>" class="enlace-producto">
                                <figure class="contenedor-imagen">
                                    <img src="/images/products/<%= producto.image %>" alt="Imagen del producto"
                                        class="imagen-producto">
                                </figure>
                                <div class="detalle-producto">
                                    <p class="nombre">
                                        <%= producto.name %>
                                    </p>
                                    <p class="precio">$<%= producto.price %>
                                    </p>
                                </div>
                            </a>
                        </article>
                        <% }) %>
                </div>
                <h2 class="titulo-seccion">Tambien te puede interesar</h2>
                <div class="contenedor-articulos">
                    <% products.forEach((producto, index)=> { %>
                        <article class="contenedor-producto">
                            <a href="/products/detail/<%= producto.id %>" class="enlace-producto">
                                <figure class="contenedor-imagen">
                                    <img src="/images/products/<%= producto.image %>" alt="Imagen del producto"
                                        class="imagen-producto">
                                </figure>
                                <div class="detalle-producto">
                                    <p class="nombre">
                                        <%= producto.name %>
                                    </p>
                                    <p class="precio">$<%= producto.price %>
                                    </p>
                                </div>
                            </a>
                        </article>
                        <% }) %>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>