<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
        <title>UrbanEats Jujuy</title>
        <link rel="stylesheet" href="/styles/stylesHome.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <section>
                <h2>Lo favorito de la gente</h2>
                
                                <div class="productos">
                                    <section>
                                        <% products.forEach(producto=> { %>
                                            <a href="/products/detail/<%= producto.id %>">
                                                <figure>
                                                    <img src="/images/products/<%= producto.image %>"
                                                        alt="Imagen del producto">
                                                </figure>
                                                <article>
                                                    <p class="nombre">
                                                        <%= producto.name %>
                                                    </p>
                                                    <p class="precio">$<%= producto.price %>
                                                    </p>
                                                </article>
                                            </a>
                                            <% }) %>
                                    </section>
                                </div>
            </section>
            <h2>También puede interesarte</h2>
            <div class="productos">
                <section>
                    <% products.forEach(producto=> { %>
                        <a href="/products/detail/<%= producto.id %>">
                            <figure>
                                <img src="/images/products/<%= producto.image %>" alt="Imagen del producto">
                            </figure>
                            <article>
                                <p class="nombre">
                                    <%= producto.name %>
                                </p>
                                <p class="precio">$<%= producto.price %>
                                </p>
                            </article>
                        </a>
                        <% }) %>
                </section>
            </div>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>