<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>;
    <title>UrbanEats - Detalle producto</title>
    <link rel="stylesheet" href="/styles/productDetail.css">
</head>


<body>
    <%- include('./partials/header') %>
        <main>
            <h1>Detalle del producto: <%= product.name %></h1>
            <section>
                <h1><%= product.name %></h1>
                <div class="producto-principal">
                    <figure class="principal">
                        <img src="/images/<%= product.image %>" alt="imagen del producto">
                    </figure>
                    <div class="detalles">
                        <div class="botones">
                            <button>Lo quiero ya!!!</button>
                            <button>Agregar al carrito</button>
                        </div>
                        <p class="descripcion"><%= product.description %></p>
                        <p class="precio">$<%= product.price %></p>
                    </div>
                </div>
                <form action="/products/<%= product.id %>?_method=DELETE" method="PUT">
                    <buttona type="submit" class="button-delete">Eliminar</buttona>
                </form>
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>