<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
        <title>UrbanEats - Detalle producto</title>
        <link rel="stylesheet" href="/styles/productDetail.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<body>
    <%- include('./partials/header') %>
        <main>
            <section class="contenedor-articulo">
                <h1 class="title">Detalle del producto: <%= product.name %>
                </h1>
                <h2 class="subtitle">
                    <%= product.name %>
                </h2>
                <div class="contenedor-producto">
                    <figure class="contenedor-imagen">
                        <img src="/images/products/<%= product.image %>" class="imagen-producto"
                            alt="imagen del producto">
                    </figure>
                    <div class="contenedor-contenido">
                        <div class="contenedor-descripcion">
                            <p class="titulo-descripcion">Descripción:</p>
                            <p class="descripcion">
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="contenedor-precio">
                            <p class="titulo-precio">Precio:</p>
                            <p class="precio">
                                $<%= product.price %>
                            </p>
                        </div>
                    </div>

                    <div class="contenedor-manipular">
                        <% if (usuario && usuario.first_name == 'Daniel') { %>
                            <a href="/products/edition/<%= product.id %>" class="contenedor-editar"><button type="submit"
                                class="boton-editar">Editar</button></a>

                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST"
                            class="contenedor-eliminar">
                            <button type="submit" class="boton-eliminar">Eliminar</button>
                        </form>
                        
                        <% } %>
                        <% if (usuario) { %>
                            <form action="/products/<%= product.id %>" method="POST">
                                <button type="submit" class="agregarAlCarrito">Agregar al carrito</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')%>
        <script src="/js/agregarCarrito.js"></script>
</body>

</html>