<!DOCTYPE html>
<html lang="es">

<head>
    <title>Perfil de usuario</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/styles/userProfile.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="contenedor-user">
                <div class="contenedor-nombre">
                    <h1>Hola <%= usuario.first_name + ' ' + usuario.last_name %></h1>
                </div>
                <figure class="contenedor-imagen">
                    <img src="/images/users/<%= usuario.profile_image %>" class="imagen-producto" alt="imagen-del-usuario">
                </figure>
            </div>
        </main>
    <%- include('./partials/footer') %>
</body>